*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
   background-color: #EEE;
}
.container{
  width: 90%;
  margin: auto;
  padding: 25px 5px;
}
nav{
  background-color: #fff;
}
nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links ul{
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.nav-links ul li a{
  text-decoration: none;
  color: #212529;
  font-size: 17px;
  font-weight: 600;
  position: relative;
}
.nav-links ul li a::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #e72323;
  transition: width 1s;
}
.nav-links ul li a:hover::before{
  width: 100%;
}

.logo img{
  width: 60px;
}

header{
 
  padding: 15px 0px;
}
.header-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.header-img img{
  width: 100%;
}
.header-content h2{
  font-family: "Amatic SC", sans-serif;
  color: #37373F;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none solid rgb(55, 55, 63);
  margin-bottom: 15px;
}
.header-content p{
  color: #4F4F5A;
  margin: 10px 0px;
  font-size: 16px;
}
.about-header{
  text-align:center;
   font-family: "Amatic SC", sans-serif;
   font-weight: 700;
   font-size: 65px;
}
.about-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.about-img img{
  width: 100%;
}
.about-content h2{
  font-family: "Amatic SC", sans-serif;
  color: #37373F;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none solid rgb(55, 55, 63);
  margin-bottom: 15px;
}
.about-content p{
  color: #4F4F5A;
  margin: 10px 0px;
  font-size: 16px;
}
.about-content ul{
   color: #4F4F5A;
   font-size: 20px;
   font-weight: 500;
}
.gallery-header{
   text-align:center;
   font-family: "Amatic SC", sans-serif;
   font-weight: 700;
   font-size: 65px;
}
.gallery-items{
  display: grid;
  grid-template-areas: 
  ". item1 item1 ."
  "item3 item4 item5 item6"
  "item7 item8 item9 item10" 
  "item12 item2 item14 item11 "
  ". item15 item15 ."
  ;
  gap: 5px;
  align-items: baseline;
  justify-items: center;
  place-content: center center;
}
.gallery img{
  width: 100%;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}
.gallery-items .item-1{
  grid-area: item1;
}
.gallery-items .item-2{
  grid-area: item2;
}
.gallery-items .item-3{
  grid-area: item3;
}
.gallery-items .item-4{
  grid-area: item4;
}
.gallery-items .item-5{
  grid-area: item5;
}
.gallery-items .item-6{
  grid-area: item6;
}
.gallery-items .item-7{
  grid-area: item7;
}
.gallery-items .item-8{
  grid-area: item8;
}
.gallery-items .item-9{
  grid-area: item9;
}
.gallery-items .item-11{
  grid-area: item11;
}
.gallery-items .item-12{
  grid-area: item12;
}
.gallery-items .item-14{
  grid-area: item14;
}
.gallery-items .item-15{
  grid-area: item15;
}
.contact-header{
  text-align:center;
   font-family: "Amatic SC", sans-serif;
   font-weight: 700;
   font-size: 65px;
}
.contact-content p{
  color: #4F4F5A;
  font-size: 20px;
  text-align:center;
}
.contact-content iframe{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
footer{
  text-align:center;
   font-family: "Amatic SC", sans-serif;
   font-weight: 700;
   font-size: 30px;
}

























@media screen  and (max-width:650px){
  .header-items{
    flex-direction: column;
  }
  
  .header-content{
    width: 100%;
    text-align: center;
    order: 0;
  }
  .header-img{
    width: 100%;
    text-align: center;
    order: -1;
  }
  .about-items{
    flex-direction: column;
  }
 .about-content{
    width: 100%;
    text-align: center;
    order: 0;
  }
  .about-img{
    width: 100%;
    text-align: center;
    order: -1;
  }
  .about-header{
    font-family: "Amatic SC", sans-serif;
  }
}





@media screen and (max-width:992px){
  .container{
    width: 90%;
    margin: auto;
    padding: 25px 5px;
  }
  nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .header-img img{
    width: 100%;
    order: 0;
  }

}
